--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.serpmetrics.com/delayed/add
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796873&auth=KmO1tWZa4IRWRRs2mnH5I5LpGwWlog8ulbUQsQbDerk%3D&params=%7B%22keyword%22%3A%22restaurants%22%2C%22engines%22%3A%5B%22google_en-us%22%5D%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"data\":[{\"phrase\":\"restaurants\",\"engine_code\":\"google_en-us\",\"delayed_id\":\"5299965c4513a748440000a8\"}],\"request_time\":1385797212}"
  recorded_at: Sat, 30 Nov 2013 07:34:33 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/delayed/status
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796873&auth=KmO1tWZa4IRWRRs2mnH5I5LpGwWlog8ulbUQsQbDerk%3D&params=%7B%22delayed_id%22%3A%225299965c4513a748440000a8%22%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"error\",\"message\":\"Awaiting queue slot.\",\"request_time\":1385796624}"
  recorded_at: Sat, 30 Nov 2013 07:34:33 GMT
recorded_with: VCR 2.4.0
