--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/add
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D&params=%7B%22keyword%22%3A%22restaurants%22%2C%22engines%22%3A%5B%22google_en-us%22%5D%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"data\":{\"keyword_id\":\"5146926072484b125b000000\",\"keyword\":\"restaurants\",\"engines\":[\"google_en-us\"]}}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/check
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D&params=%7B%22keyword_id%22%3A%225146926072484b125b000000%22%2C%22engine%22%3A%22google_en-us%22%2C%22limit%22%3A10%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"data\":{\"keyword_id\":\"5146926072484b125b000000\",\"engine\":\"google_en-us\",\"checks\":{\"1385788936\":\"529976084513a7206600008c\"}},\"request_time\":1385796684}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/all
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"request_time\":1385796420,\"data\":{\"5146926072484b125b000000\":{\"phrase\":\"restaurants\",\"engines\":[\"google_en-us\"]}}}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/delete
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D&params=%7B%22keyword_id%22%3A%225146926072484b125b000000%22%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"request_time\":1385796716,\"data\":[{\"keyword_id\":\"5146926072484b125b000000\",\"status\":\"ok\"}]}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/all
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"request_time\":1385796172,\"data\":[]}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
recorded_with: VCR 2.4.0
