--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/serp
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D&params=%7B%22check_id%22%3A%2203bcc63a-dc00-4a41-8010-4fc3346e85b5%22%2C%22domain%22%3Anull%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"error\",\"message\":\"Supplied check_id not found: 03bcc63a-dc00-4a41-8010-4fc3346e85b5\"}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/all
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"request_time\":1385796708,\"data\":[]}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/keywords/all
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"request_time\":1385796415,\"data\":[]}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
recorded_with: VCR 2.4.0
