---
http_interactions:
- request:
    method: post
    uri: http://api.serpmetrics.com/keywords/serp
    body:
      encoding: US-ASCII
      string: key=h31x%25sd22hgjd2s&ts=1363584772&auth=lROO29qiF4QDoLetbhqb2gKopwnfB%2Bo%2F3g7RGDPcXx8%3D&params=%7B%22check_id%22%3A%2203bcc63a-dc00-4a41-8010-4fc3346e85b5%22%2C%22domain%22%3Anull%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"error","message":"Supplied check_id not found: 03bcc63a-dc00-4a41-8010-4fc3346e85b5"}'
  recorded_at: Mon, 18 Mar 2013 05:32:52 GMT
- request:
    method: post
    uri: http://api.serpmetrics.com/keywords/all
    body:
      encoding: US-ASCII
      string: key=h31x%25sd22hgjd2s&ts=1363584772&auth=lROO29qiF4QDoLetbhqb2gKopwnfB%2Bo%2F3g7RGDPcXx8%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Orchestra-Scheme:
      - http
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok","request_time":1363585090,"data":{"5146926072484b125b000000":{"phrase":"restaurants","engines":["google_en-us"]}}}'
  recorded_at: Mon, 18 Mar 2013 05:32:52 GMT
- request:
    method: post
    uri: http://api.serpmetrics.com/keywords/delete
    body:
      encoding: US-ASCII
      string: key=h31x%25sd22hgjd2s&ts=1363584772&auth=lROO29qiF4QDoLetbhqb2gKopwnfB%2Bo%2F3g7RGDPcXx8%3D&params=%7B%22keyword_id%22%3A%225146926072484b125b000000%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok","request_time":1363585090,"data":[{"keyword_id":"5146926072484b125b000000","status":"ok"}]}'
  recorded_at: Mon, 18 Mar 2013 05:32:52 GMT
- request:
    method: post
    uri: http://api.serpmetrics.com/keywords/all
    body:
      encoding: US-ASCII
      string: key=h31x%25sd22hgjd2s&ts=1363584772&auth=lROO29qiF4QDoLetbhqb2gKopwnfB%2Bo%2F3g7RGDPcXx8%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Orchestra-Scheme:
      - http
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok","request_time":1363585091,"data":[]}'
  recorded_at: Mon, 18 Mar 2013 05:32:52 GMT
recorded_with: VCR 2.4.0
