--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.serpmetrics.com/priority/add
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385796397&auth=gZhSCcStSVOKWve6sdJ5jpgyFNw2gXBc5HIth%2FIV92w%3D&params=%7B%22keyword%22%3A%22restaurants%22%2C%22engines%22%3A%5B%22google_en-us%22%5D%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"data\":[{\"phrase\":\"restaurants\",\"engine_code\":\"google_en-us\",\"priority_id\":\"5299934c3fc134e66000007a\"}],\"request_time\":1385796428}"
  recorded_at: Sat, 30 Nov 2013 07:26:37 GMT
recorded_with: VCR 2.4.0
