--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.serpmetrics.com/priority/add
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385792990&auth=IVzZ%2BRFEu%2FTFz13I%2BFwu7GSqx0S1vUhQTK5B3TS6bG8%3D&params=%7B%22keyword%22%3A%22restaurants%22%2C%22engines%22%3A%5B%22google_en-us%22%5D%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"data\":[{\"phrase\":\"restaurants\",\"engine_code\":\"google_en-us\",\"priority_id\":\"529987384513a79a160000f6\"}],\"request_time\":1385792748}"
  recorded_at: Sat, 30 Nov 2013 06:29:50 GMT
- request: 
    method: post
    uri: http://api.serpmetrics.com/priority/status
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385792990&auth=IVzZ%2BRFEu%2FTFz13I%2BFwu7GSqx0S1vUhQTK5B3TS6bG8%3D&params=%7B%22priority_id%22%3A%22529987384513a79a160000f6%22%7D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"error\",\"message\":\"Currently in queue, please retry shortly\",\"request_time\":1385792973}"
  recorded_at: Sat, 30 Nov 2013 06:29:50 GMT
recorded_with: VCR 2.4.0
