---
http_interactions:
- request:
    method: post
    uri: http://api.serpmetrics.com/users/credit
    body:
      encoding: US-ASCII
      string: key=h31x%25sd22hgjd2s&ts=1363584772&auth=lROO29qiF4QDoLetbhqb2gKopwnfB%2Bo%2F3g7RGDPcXx8%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Orchestra-Scheme:
      - http
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok","data":{"api_key":"<SERP_METRICS_KEY>","balance":0,"api_credit":-98.5,"serp_credit":2892},"request_time":1363585088}'
  recorded_at: Mon, 18 Mar 2013 05:32:52 GMT
recorded_with: VCR 2.4.0
