--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.serpmetrics.com/users/credit
    body: 
      encoding: US-ASCII
      string: key=<SERP_METRICS_KEY_ENCODED>&ts=1385792990&auth=IVzZ%2BRFEu%2FTFz13I%2BFwu7GSqx0S1vUhQTK5B3TS6bG8%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: "{\"status\":\"ok\",\"data\":{\"api_key\":\"<SERP_METRICS_KEY>\",\"balance\":0,\"api_credit\":-138.6,\"serp_credit\":2880},\"request_time\":1385793259}"
  recorded_at: Sat, 30 Nov 2013 06:29:50 GMT
recorded_with: VCR 2.4.0
