---
http_interactions:
- request:
    method: post
    uri: http://api.serpmetrics.com/engines/codes
    body:
      encoding: US-ASCII
      string: key=h31x%25sd22hgjd2s&ts=1363584772&auth=lROO29qiF4QDoLetbhqb2gKopwnfB%2Bo%2F3g7RGDPcXx8%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Orchestra-Scheme:
      - http
    body:
      encoding: US-ASCII
      string: ! '{"status":"ok","data":[{"engine_code":"yahoo_it-ch","name":" Switzerland
        (Italian)"},{"engine_code":"google_ps-af","name":"Afghanistan (Persian)"},{"engine_code":"google_fr-dz","name":"Algeria
        (French)"},{"engine_code":"google_en-as","name":"American Samoa (English)"},{"engine_code":"google_ca-ad","name":"Andorra
        (Catalan)"},{"engine_code":"google_pt-ao","name":"Angola (Portugese)"},{"engine_code":"google_en-ai","name":"Anguilla
        (English)"},{"engine_code":"google_en-ag","name":"Antigua and Barbuda (English)"},{"engine_cod[...]
